h2 {
  margin: 20px 0; }

.tab img {
  width: 50px; }

.tab .btn {
  width: 150px;
  overflow: hidden; }

.tab input {
  float: left;
  width: 50px;
  border: 0;
  text-align: center; }

.tab span {
  float: left;
  border-radius: 10px;
  overflow: hidden; }
