.margin {
  width: 980px;
  margin: 0 auto; }

header {
  height: 100px; }
  header .logo {
    width: 220px;
    height: 100px;
    display: block;
    margin-top: 10px; }

#login .login-t {
  border-bottom: 2px solid #666; }
  #login .login-t a {
    display: block;
    height: 26px;
    font-weight: 700;
    line-height: 26px;
    color: #FFF;
    width: 160px;
    background: #666;
    text-align: center;
    border-radius: 7px 7px 0 0; }

#login .login-b {
  overflow: hidden; }
  #login .login-b .login-b-l {
    float: left;
    width: 400px; }
    #login .login-b .login-b-l img {
      width: 400px; }
  #login .login-b .login-b-r {
    width: 500px;
    float: right; }
    #login .login-b .login-b-r form {
      border: 1px solid #666;
      padding: 20px;
      width: 400px; }
      #login .login-b .login-b-r form label {
        width: 400px;
        height: 30px;
        margin-top: 20px;
        overflow: hidden;
        display: block;
        color: #999; }
        #login .login-b .login-b-r form label b {
          float: left;
          width: 100px;
          font-size: 14px; }
        #login .login-b .login-b-r form label input {
          float: left;
          border: 1px solid #ccc;
          width: 200px;
          margin-left: 10px; }
        #login .login-b .login-b-r form label span {
          margin-left: 5px;
          float: left;
          width: 200px; }
      #login .login-b .login-b-r form #btn {
        display: block;
        border-radius: 5px;
        border: 0;
        width: 120px;
        height: 30px;
        background: #f8584f;
        margin: 20px auto;
        color: #fff;
        font-size: 14px; }
      #login .login-b .login-b-r form .remember {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center; }
        #login .login-b .login-b-r form .remember input {
          margin-top: 20px;
          margin-right: 10px; }
    #login .login-b .login-b-r .bottom {
      width: 318px;
      text-align: center;
      padding: 15px 0;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid #F1F1F1;
      overflow: hidden; }

footer {
  padding-top: 50px;
  height: 50px;
  font: 12px/50px "";
  color: #333;
  text-align: center; }
  footer a {
    color: #333; }
