.margin {
  width: 980px;
  margin: 0 auto; }

header {
  height: 100px; }
  header .logo {
    width: 220px;
    height: 100px;
    display: block;
    margin-top: 10px; }

#register .register-t {
  border-bottom: 2px solid #666; }
  #register .register-t a {
    display: block;
    height: 26px;
    font-weight: 700;
    line-height: 26px;
    color: #FFF;
    width: 160px;
    background: #666;
    text-align: center;
    border-radius: 7px 7px 0 0; }

#register .register-b {
  overflow: hidden; }
  #register .register-b .register-b-l {
    float: left; }
    #register .register-b .register-b-l .title {
      width: 700px;
      font-size: 14px;
      text-indent: 20px;
      line-height: 30px;
      margin-left: 15px;
      border-bottom: 1px dotted #E6E6E6; }
    #register .register-b .register-b-l form {
      width: 750px; }
      #register .register-b .register-b-l form label {
        width: 750px;
        height: 30px;
        margin-top: 20px;
        overflow: hidden;
        display: block;
        color: #999; }
        #register .register-b .register-b-l form label b {
          float: left;
          width: 100px;
          font-size: 14px; }
        #register .register-b .register-b-l form label input {
          float: left;
          border: 1px solid #ccc;
          width: 200px;
          margin-left: 10px; }
        #register .register-b .register-b-l form label span {
          margin-left: 5px;
          float: left;
          width: 300px; }
      #register .register-b .register-b-l form #btn {
        display: block;
        border-radius: 5px;
        border: 0;
        width: 120px;
        height: 30px;
        background: #f8584f;
        margin: 20px 0 0 70px;
        color: #fff;
        font-size: 14px; }
  #register .register-b .register-b-r {
    float: right; }
    #register .register-b .register-b-r a {
      display: block; }
    #register .register-b .register-b-r a:last-child {
      font-size: 14px;
      padding: 20px;
      color: #f8584f; }
