.margin{
    width:980px;
    margin:0 auto;
}
header{
    height:100px;
    .logo{
        width: 220px;
        height: 100px;
        display: block;
        margin-top:10px;
    }
}
#register{
    .register-t{
        border-bottom:2px solid #666;
        a{
            display: block;
            height: 26px;
            font-weight: 700;
            line-height: 26px;
            color: #FFF;
            width: 160px;
            background:#666;
            text-align:center;
            border-radius:7px 7px 0 0 ;
        }
    }
    .register-b{
        overflow:hidden;
        .register-b-l{
            float:left;
            .title{
                width: 700px;
                font-size: 14px;
                text-indent: 20px;
                line-height: 30px;
                margin-left: 15px;
                border-bottom: 1px dotted #E6E6E6;
            }
            form{
                width:750px;
                label{
                    width:750px;
                    height:30px;
                    margin-top:20px;
                    overflow:hidden;
                    display:block; 
                    color: #999;  
                    b{
                        float:left;
                        width:100px;
                        font-size:14px;
                    }
                    input{
                        float:left;
                        border:1px solid #ccc;
                        width:200px;
                        margin-left:10px;
                    }
                    span{
                        margin-left:5px;
                        float:left;
                        width:300px;
                    }
                }
                #btn{
                    display:block;
                    border-radius:5px;
                    border:0;
                    width:120px;
                    height:30px;
                    background:#f8584f;
                    margin:20px 0 0 70px;
                    color:#fff;
                    font-size:14px;
                }
            }

        }
        .register-b-r{
            float:right;
            a{
                display:block;
                
            }
            a:last-child{
                font-size:14px;
                padding:20px;
                color:#f8584f;
            }
        }
    }
}